:root {
    --color-primary: #eb2f64;
    --color-primary-light: #FF3366;
    --color-primary-dark: #BA265D;

    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f0f0f0;
    --color-grey-light-3: #ebebeb;
    --color-grey-light-4: rgb(211, 211, 211);

    --color-grey-dark-1: #333;
    --color-grey-dark-2: rgb(100, 100, 100);
    --color-grey-dark-3: #999;

    --box-shadow-text-box: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    font-weight: 400;
}


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    font-family: 'Open Sans',sans-serif;
    padding: 1rem 0;
    color: var(--color-grey-dark-2);
    line-height: 1.6rem;
    background-image: linear-gradient(to bottom right , var(--color-primary-light),var(--color-primary-dark));
    background-size: cover;
    background-repeat: no-repeat;
}

