:root {
    --color-primary: #eb2f64;
    --color-primary-light: #FF3366;
    --color-primary-dark: #BA265D;

    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f0f0f0;
    --color-grey-light-3: #ebebeb;
    --color-grey-light-4: rgb(211, 211, 211);

    --color-grey-dark-1: #333;
    --color-grey-dark-2: rgb(100, 100, 100);
    --color-grey-dark-3: #999;

    --box-shadow-text-box: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    --box-shadow-dark-box: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}

@mixin respond($bp){
    @if($bp==huge){
        @media only screen and (min-width:112.5em) {//800px
            @content;
        }
    }
    @if($bp==largest){
        @media only screen and (max-width:84.375em) {//1350px
            @content;
        }
    }
    @if($bp==larger) {
        @media only screen and (max-width:75em) {//1200px
            @content;
        }
    }
    @if($bp==large) {
        @media only screen and (max-width:50em) {//800px
            @content;
        }
    }
    @if($bp==medium) {
        @media only screen and (max-width:43.75em) {//700px
            @content;
        }
    }
    @if($bp==small) {
        @media only screen and (max-width:31.25em) {//500px
            @content;
        }
    }
    @if($bp==smaller) {
        @media only screen and (max-width:25em) {//400px
            @content;
        }
    }
    @if($bp==smallest) {
        @media only screen and (max-width:21.8em) {//350px
            @content;
        }
    }
    @if($bp==tiny) {
        @media only screen and (max-width:17.82em) {//285px
            @content;
        }
    }
}

html{
    box-sizing: border-box;
    font-size: 62.5%;//10px
    font-weight: 400;
    @include respond(medium) {
        font-size: 56.25%;//9px
    }
    @include respond(small) {
        font-size: 50%; //8px
    }
}


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
*::selection{
    background-color: rgba(#eb2f64, 0.9);
    color: #fff;
}

body{
    font-family: 'Open Sans',sans-serif;
    padding: 1rem 0;
    color: var(--color-grey-dark-2);
    line-height: 1.6rem;
    background-image: linear-gradient(to bottom right , var(--color-primary-light),var(--color-primary-dark));
    background-size: cover;
    background-repeat: no-repeat;
    @include respond(largest) {
        padding: 0;
    }
}

