.container {
    background-color: var(--color-grey-light-1);
    margin: 8rem auto;
    max-width: 120rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.3);
}

.header {
    background-color: var(--color-grey-light-1);
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    
}

.content {
    display: flex;
}

.side-bar {
    flex: 0 0 18%;
    background-color: var(--color-grey-dark-1);
}

.hotel-view {
    flex: 1;
}

.details{
    display: flex;
    padding: 4.5rem;
    font-size: 1.4rem;
    line-height: 2.2rem;
    background-color: var(--color-grey-light-1);
    color: var(--color-grey-dark-2);
    .description{
        padding: 3rem;
        background-color: #fff;
        flex: 0 0 60%;
        box-shadow: var(--box-shadow-text-box);
    }
    .user-review{
        margin-left: 4.5rem;
        flex: 1;
    }
}
