.container {
    background-color: var(--color-grey-light-1);
    margin: 8rem auto;
    max-width: 120rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.3);
}

.header {
    background-color: var(--color-grey-light-1);
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
}

.content {
    display: flex;
}

.side-bar {
    flex: 0 0 18%;
    background-color: var(--color-grey-dark-1);
}

.hotel-view {
    background-color: orangered;
    flex: 1;

    height: 80vh;
}
